/* Reset */
html, body, div, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    line-height: 1;
}
/* Actual CSS */
html, body {
    background: #222;
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
}
div.day, div.author {
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
div.day {
    font-size: 2em;
    top: 50%;
}
div.author {
    top: 96%;
}
div.author a {
    color: #337ab7;
    text-decoration: none;
}
div.author a:hover {
    text-decoration: underline;
}
div.date {
    display: inline-block;
}
input {
    border: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    height: 27px;
    padding: 5px;
    vertical-align: top;
    width: 203px;
}
input:focus {
    outline: none;
}
::-webkit-input-placeholder {
    font-size: 0.9em;
}
:-moz-placeholder { /* Firefox 18- */
    font-size: 0.9em;
}
::-moz-placeholder {  /* Firefox 19+ */
    font-size: 0.9em;
}
:-ms-input-placeholder {
    font-size: 0.9em;
}
